header.header-box {
    grid-area: header-box;

    .wrapper-inner {

        .header-box__container {
            display: flex;
            position: relative;
            z-index: 2;
            justify-content: space-between;
            align-items: center;
            padding: 20px 5px;
            a.header-box__container--left {

                color: #fff;
                background: $white url("./../src/img/bg-wire.svg") center;
                padding: 10px 10px 5px 10px;

            }
            .header-box__container--right {
                display: flex;
                padding: 10px;
                a {
                    font-size: 21px;
                    padding: 10px;
                    color: $white;
                }
            }
        }
    }
}