@import "colors";
@import "mixins";
@import "fonts";
@import "icons";
@import "typography";
@import "global";
@import "header";
@import "footer";


body {    
    font-size: 100%;
    height: 100vh;
    font-family: "Roboto" sans-serif;
}

main.grid-container {
    background: url("./../src/img/laptopOnTheTable.jpg") center;
    background-size: cover;

    background-color: #155799;
    background-image: linear-gradient(120deg, #155799, #159957);

    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas: 
        "header-box header-box header-box header-box header-box header-box" 
        "banner-box banner-box banner-box banner-box banner-box banner-box" 
        "banner-box banner-box banner-box banner-box banner-box banner-box" 
        "banner-box banner-box banner-box banner-box banner-box banner-box";
}

main.grid-container::after {
    content: "";
    // background-color: rgba(12, 12, 12, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
    
.banner-box { 
    grid-area: banner-box;
    @include flexCHV;
    width: 100%;
    
    .wrapper-inner {
        width: 100%;
        .banner-box__container {
            display: flex;
            width: 100%;

            transition: all 0.3s ease-in-out;

            .banner-box__container--item {
                position: relative;
                z-index: 2;
                flex: 1 1 calc(50% - 20px);
                background-size: cover;
                padding: 57px;
                background-color: $white;

                overflow: hidden;

                @include flexCHV;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .banner-box__container--left {
                background-color: #cbcec3;
                cursor: pointer;
                position: relative;
                img {
                    max-width: 45%;
                    height: auto;

                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                // 1
                &:hover ~ .banner-box__container--right .hidden-code {
                    background-color: $white;
                    
                    visibility: visible;
                    opacity: 1;
                    transition: 
                        visibility 0s linear 0s,
                        opacity .3s,padding .3s;
                }

            }

            .banner-box__container--right {
                background: url("./../src/img/bg-wire.svg") center;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                h1 {
                    font-family: ns;
                    color: $white;
                    font-size: 49px;
                }

                h2 {
                    color: $ltGray;
                    background-color: $dkGray;
                    padding: 10px;
                }

                .hidden-code {
                    visibility: hidden;
                    opacity: 0;

                    background-color: $white;
                    position: absolute;
                    transition: 
                        visibility 0s linear .3s,
                        opacity .3s,padding .3s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    p.hidden-code-content {
                        position: relative;
                        overflow: auto;
                        white-space: nowrap;
                        border: none;
                        padding: 2em;                        
                        font-size: 1em;
                        height: 100%;
                        overflow-y: hidden;
                        margin: auto;

                        span, strong {
                            color: $blue;
                            font-weight: 700;
                        }

                        .hover-email {
                            color: $ElectricRed;
                        }


                        &:hover .hover-email {
                            color: $BrightGreen;
                        }

                    }
                }

                &:hover .hidden-code {
                    visibility: visible;
                    opacity: 1;
                    transition: 
                        visibility 0s linear 0s,
                        opacity .3s,padding .3s;
                }
            }

        }
    }

}

//
.grid-container-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 300vh;
    grid-template-areas: 
        "info info portfolio portfolio" 
        "info info portfolio portfolio" 
        "contact contact gd-gallery gd-gallery" 
        "contact contact gd-gallery gd-gallery" 
        "footer-box footer-box footer-box footer-box" 
        "footer-box footer-box footer-box footer-box";
}

// $blue: #155799;
// $BrightGreen: #beef00;
// $ElectricRed: #ff0028;
// $DeepGreen: #657a00;

.info { 
    grid-area: info;
    background-color: $blue;

    display: flex;
    flex-wrap: wrap;
    
    .info-item {
        flex: 0 0 calc(33.333% - 10px);
        @include flexCHV;

        background-color: #159957;

        margin: 5px;

        img {
            max-width: 100%;
            height: auto;

            width: 100%;
            height: 100%;

            object-fit: cover;
            
        }
    }

}

.portfolio { 
    grid-area: portfolio;
    background-color: $BrightGreen;

    @include flexCHV;

    background: url("./../src/img/laptop-glasses.jpeg") center;
    background-size: cover;

    p {
        background-color: #fff;
        padding: 20px;
        margin: 5px;
    }
}

.contact { 
    grid-area: contact;
    background-color: $ElectricRed;

    background-color: #155799;
    background-image: linear-gradient(120deg, #155799, #159957);

    background: url("./../src/img/bg-main.jpeg") center;
    background-size: cover;

    @include flexCHV;

    p {
        background-color: #fff;
        padding: 20px;
        margin: 5px;
    }

}

.gd-gallery { 
    grid-area: gd-gallery;

    background-color: #155799;
    background-image: linear-gradient(120deg, #155799, #159957);

    @include flexCHV;

}

.footer-box { 
    grid-area: footer-box;
    height: 100vh;
    background-color: $blue;

    @include flexCHV;

}




